@use '@/shared/styles/abstracts/variables' as *

.game-page-viewer
    min-height: 0
    width: 100%
    display: flex
    flex-direction: column

    &__placeholder
        margin: 0
        padding: $spacing-lg
        font-size: $text-sm
        color: $primary-color
        text-align: center
        align-self: stretch
