@use '../abstracts/variables' as *
    
* 
    margin: 0
    padding: 0
    box-sizing: border-box
    text-decoration: none
    list-style: none 
    border: none 
    outline: none;

    &:focus-visible
        outline: 2px solid $primary-cta-light;

* 
    scrollbar-width: thin;