@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

body
    font-family: $font-family
    font-size: $text-base
    color: $primary-color
    line-height: 1.6
    background: $primary-bg

h1, h2, h3, h4, h5, h6
    font-family: $font-title
    font-weight: 600
    line-height: 1.2

h1
    font-size: $text-2xl
    color: $primary-title-color

h2
    font-size: $text-xl

h3
    font-size: $text-2xl

h4
    font-size: $text-xl

a
    color: inherit;
    text-decoration: none;
