@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap"

$font-family: "IBM Plex Sans", sans-serif

// Reset
*
    margin: 0
    padding: 0
    box-sizing: border-box
    text-decoration: none
    list-style: none
    border: none
    outline: none

// Global styles

body
    font-family: $font-family
    font-size: 16px
    text-align: center
    text-decoration: none
    