.footer 
    background: $secondary-bg;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary-color;
    font-size: $text-base;
    font-weight: 600;
