.generic-card-content
    display: flex
    flex-direction: column

.generic-button-primary
    margin-top: $spacing-sm
    align-self: flex-end

.dashboard-header
    margin-bottom: $spacing-xl

    .title
        font-size: $text-4xl
        font-weight: 600
        padding-top: $spacing-lg
        color: $secondary-title-color

        @include desktop
            font-size: $text-6xl

    .subtitle
        font-size: $text-sm
        font-family: $font-family
        color: $primary-color
        opacity: 0.8
        margin: 0

.widgets-container
    display: grid
    grid-template-columns: 1fr
    gap: $spacing-2xl
    grid-template-areas: "inbox" "events" "games" "puzzle" "blog"

    .games-widget
        grid-area: games

    .events-widget
        grid-area: events

    .inbox-widget
        grid-area: inbox

    .blog-widget
        grid-area: blog

    .puzzle-widget
        grid-area: puzzle

    @include tablet
        grid-template-columns: repeat(2, 1fr)
        grid-template-areas: "events inbox" "games inbox" "puzzle blog" "puzzle blog"
        grid-template-rows: 1fr

    @include desktop
        grid-template-columns: repeat(3, 1fr)
        grid-template-areas: "games inbox events" "games inbox puzzle" "blog blog puzzle"

@include tablet
    .page-title
        font-size: $text-5xl
        padding: $spacing-xl 0 $spacing-sm 0

@include desktop
    .page-title
        font-size: $text-6xl
        padding: $spacing-2xl 0 $spacing-sm 0