// à mettre dans le GenericCard
.generic-card-content
    display: flex;
    flex-direction: column;

.generic-button-primary
    margin-top: $spacing-sm;
    align-self: flex-end;

.widgets-container
    display: grid;
    grid-template-column: 1fr;
    grid-template-areas: "inbox" "events" "games" "puzzle" "blog";

    .games-widget
        grid-area: games;
        height: fit-content;

    .events-widget
        grid-area: events;

    .inbox-widget
        grid-area: inbox;

    .blog-widget
        grid-area: blog;

    .puzzle-widget
        grid-area: puzzle;
        height: fit-content;

    @include tablet
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px 300px 300px auto;
        grid-template-areas: "events inbox" "games inbox" "games blog" "puzzle blog"

    @include desktop
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto; 

        grid-template-areas: "games events inbox" "blog blog blog" 


    gap: $spacing-2xl;