.generic-card
    border: 1px solid $primary-border;
    background: $primary-bg;
    position: relative;
    padding: $spacing-md;

    &::before
        content: "";
        position: absolute;
        top: -6px;
        left: -6px;
        width: 100%;
        height: 100%;
        background: $primary-bg;
        border: 1px solid $primary-border;
        z-index: -15;

    h3
        font-size: $text-base;
        font-family: $font-family;
        color: $primary-cta-hover;
        margin-bottom: $spacing-sm;
