.page-title
    h2
        font-size: $text-4xl;
        font-weight: 600;
        padding: $spacing-sm $spacing-md;
        color: $secondary-title-color;
        background: $primary-bg;
        border-top: 1px solid $primary-color;