.page-title
    margin-bottom: $spacing-sm;
    h2
        font-size: $text-4xl;
        font-weight: 600;
        padding: $spacing-lg 0;
        color: $secondary-title-color;
        background: $primary-bg;
    
main 
    padding: $spacing-md;
    margin-bottom: calc($spacing-xl + 65px); // hauteur du footer
    max-width: 1200px;
    margin: 0 auto;

    @include tablet-lg
        margin-bottom: calc($spacing-xl + 75px); // hauteur du footer

.app-layout
    main 
        padding: 0 $spacing-lg;