@use '@/shared/styles/abstracts/variables' as *
@use '@/shared/styles/abstracts/mixins' as *

.games
    width: 100%

    &-header
        margin-bottom: $spacing-xl

        .title
            font-size: $text-4xl
            font-weight: 600
            padding-top: $spacing-lg
            color: $secondary-title-color

    &-page-content
        display: grid
        padding: $spacing-md
        width: 100%
        gap: $spacing-xl
        grid-template-columns: 1fr
        grid-template-areas: "viewer" "list" "editor"

        .game-page-viewer
            grid-area: viewer

        .game-page-list
            grid-area: list

        .game-pgn-editor
            grid-area: editor

        @include tablet-lg
            grid-template-columns: 1fr 1fr
            grid-template-areas: "list viewer" "editor editor"
