@use './variables' as *

// Flexbox helpers
@mixin flex-center
    display: flex
    justify-content: center
    align-items: center

@mixin flex-between
    display: flex
    justify-content: space-between
    align-items: center

@mixin flex-column
    display: flex
    flex-direction: column

// Responsive breakpoints

@mixin tablet
    @media (min-width: $breakpoint-sm)
        .tablet
            display: block;
        @content

@mixin tablet-lg
    @media (min-width: $breakpoint-md)
        .tablet-lg
            display: block;
        @content

@mixin desktop
    @media (min-width: $breakpoint-lg)
        .desktop
            display: block;
        @content

// Transitions
@mixin transition($property: all, $duration: $transition-base)
    transition: $property $duration