// Override des variables SCSS du viewer

$lpv-site-hue: 255
$lpv-accent: rgb(103, 82, 214)
$lpv-accent-over: white
$lpv-bg: rgb(118, 128, 138)
$lpv-fbt-hover: rgba(103, 82, 214, 0.75)
$lpv-bg-player: rgb(35, 40, 45)
$lpv-bg-controls: rgb(35, 40, 45)
$lpv-bg-movelist: rgb(35, 40, 45)
$lpv-bg-variation: rgb(30, 35, 40)
$lpv-bg-pane: rgb(35, 40, 45)
//lpv-pgn-text: $primary-color
// $lpv-font: $primary-color
$lpv-font-shy: rgba(101, 106, 113, 0.5)
$lpv-past-moves: rgb(101, 106, 113)
$lpv-font-bg: rgba(101, 106, 113, 0.2)
$lpv-current-move: rgba(103, 82, 214, 0.7)
$lpv-move-hover: rgba(103, 82, 214, 0.3)
$lpv-border: rgb(50, 55, 60)
$lpv-side-border: rgb(30, 35, 40)

@import "../../../../node_modules/@lichess-org/pgn-viewer/scss/lichess-pgn-viewer.scss"

// Styles du container

.game-viewer
    max-height: 100%;

    .lpv
        border-radius: 0;
        box-shadow: none;

        &:focus
            outline: none;