.header 
    background: $secondary-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-sm $spacing-md;

    h1
        font-size: $text-2xl;
        color: $primary-title-color;

    .header-left
        display: flex;
        align-items: center;
        gap: $spacing-xs;
        .header-left-title
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .subtitle
                margin-top: -3px;
                font-size: $text-sm;
                color: $primary-cta-light;
    .header-right
        display: flex;
        align-items: center;
        gap: $spacing-md;
        .separator
            width: 1px;
            height: 20px;
            background: $primary-color;
        .header-right-account
            display: flex;
            gap: $spacing-sm;
            align-items: center;
            
    .lucide
        width: 25px;

    .lucide-circle-user-round
        color: rgb(238, 236, 195);
        width: 26px;
        height: 26px;

    @include tablet
        .lucide.lucide-chess-queen
            width: 32px;
            height: 32px;
        .lucide.lucide-circle-user-round
            width: 29px;
            height: 29px;

        .header-left
            gap: $spacing-sm;

        .header-right-account
            .name-and-role
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .name
                    font-size: $text-sm;
                    color: $primary-title-color;
                    font-weight: 500;
                .role
                    margin-top: -3px;
                    font-size: $text-xs;
                    color: $primary-color;
                    font-weight: 400;
