.header 
    background: $secondary-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-sm $spacing-md;

    h1
        font-size: $text-2xl;
        color: $primary-title-color;

    .header-left
        display: flex;
        align-items: center;
        gap: $spacing-xs;
        .header-left-title
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .subtitle
                margin-top: -3px;
                font-size: $text-sm;
                color: $primary-cta-light;
    .header-right
        display: flex;
        align-items: center;
        gap: $spacing-md;
        .separator
            width: 1px;
            height: 20px;
            background: $primary-color;
        .header-right-account
            display: flex;
            gap: $spacing-xs;
            align-items: center;
            
    .lucide
        width: 20px;

    .lucide-circle-user-round
        color: rgb(238, 236, 195);
        width: 21px;

    @include tablet
        height: 55px;
        .lucide.lucide-chess-queen
            width: 32px;
            height: 32px;
        .lucide.lucide-circle-user-round
            width: 29px;
            height: 29px;

        .header-left
            gap: $spacing-sm;

        .name-and-role
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .name
                font-size: $text-xs;
                color: $primary-title-color;
                font-weight: 500;
            .role
                margin-top: -3px;
                font-size: .7rem;
                color: $primary-color;
                font-weight: 400;
