.events-list
    display: flex
    flex-direction: column

@include tablet
    .events-list
        height: 200px;
        overflow-y: auto;

@include desktop
    .events-list
        height: 300px;
        overflow-y: auto;