// Styles spécifiques au EventsWidget
.events-widget
    .generic-card-content
        margin: $spacing-xl 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $spacing-sm;
        height: 100%;
        text-align: center;
        font-family: $font-title;
        font-size: $text-md;

        p
            max-width: 300px;

        img
            opacity: 0.5;
            width: 70px;
            object-fit: cover;