@use "@/shared/styles/abstracts/variables" as *

.game-item
    display: flex
    justify-content: space-between
    align-items: center
    gap: $spacing-lg
    background-color: rgb(35, 40, 45)
    color: rgb(170, 170, 170)
    padding: 5px $spacing-sm 5px 10px
    transition: background-color $transition-fast
    border-top: 1px solid rgb(170, 170, 170, .3)
    cursor: pointer

    &.selected-game
        position: relative

        &::before
            content: ""
            display: block
            width: 5px
            height: 100%
            background-color: $primary-cta-dark
            position: absolute
            top: 0
            left: 0
            z-index: 1

        &::after
            content: ""
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            background-color: rgba($primary-cta, 0.05)
            pointer-events: none
            z-index: 0

        .game-index,
        .game-player-results
            position: relative
            z-index: 1

    .game-index
        font-size: $text-xs
        color: $primary-color
        font-weight: 600

    .game-player-results
        display: flex
        flex-flow: column
        flex: 1
        justify-content: space-between

        .game-player-result
            display: flex
            justify-content: space-between
            align-items: center

            .game-player-result-score
                font-size: $text-xs
                font-weight: 600
                text-align: center
                width: 10px

.win-color
    color: rgb(103, 214, 82)

.loss-color
    color: rgb(214, 82, 82)
