@use '@/shared/styles/abstracts/variables' as *

.confirm-modal
    &__description
        margin: 0 0 $spacing-lg
        font-size: $text-sm
        color: $primary-color
        line-height: 1.6
        font-weight: 600

    &__content
        display: flex
        flex-direction: column
        gap: $spacing-md
