@use "@/shared/styles/abstracts/variables" as *

.nothing-cat
    margin: $spacing-xl 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: $spacing-sm
    text-align: center

    img
        opacity: 0.5
        width: 70px
        object-fit: cover

    p
        max-width: 300px
        font-family: $font-title
        font-size: $text-md
        margin: 0
