@use '@/shared/styles/abstracts/variables' as *

.game-page-list
    min-height: 0
    width: 100%

    &__empty
        margin: 0
        font-size: $text-sm
        color: $primary-color
        padding: $spacing-md
        text-align: center
